var config = {};

config.port  = 9891;
config.redis = {};
config.redis.host = process.env.REDIS_HOST;
config.redis.port = process.env.REDIS_PORT;
config.redis.socket = undefined;

config.allowOrigin = undefined; // mop: array of allowed origins (optional)

module.exports = config;
